/* Navbar override for about_us page */
.container {
  width: 100%;
  left: auto;
  transform: none;
}

.hero-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)),
    url('../img/logobg.png');
  overlay: rgba(0, 0, 0, 0.8);
  margin-top: 100px;
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.hero-content h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  font-family: 'Serif', Georgia, serif;
}


.hero-content p {
  font-size: 1rem;
  margin-bottom: 25px;
}

.order-btn {
  background-color: #e6912d;
  color: #000;
  padding: 12px 30px;
  text-decoration: none;
  border-radius: 10px;
  transition: background 0.3s ease;
}

.order-btn:hover {
  background-color: #d47f1c;
}

.prg {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.prg-p {
  width: 50%;
  padding: 20px;
}

.prg-p h1 {
  font-size: 48px;
  margin-left: 280px;
}

.prg-p p {
  font-size: 18px;
  margin-left: 280px;
  width: 50%;
  color: #878787;
}

.prg .img-prg img {
  display: flex;
  align-items: flex-end;
  height: 300px;
  width: 70%;
  height: 250px;
  border: 1px solid #ddd;
  border-radius: 25px;
  object-fit: cover;
  margin-top: 100px;
}

.bg-container {
  margin-top: 50px;
  color: white;
  height: 120px;
  background-color: #693800;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.Our-Values {
  margin-top: 80px;
  font-size: 18px;
  text-align: center;
}

.Our-Values-page {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.Our-Values-page .values-1,
.Our-Values-page .values-2,
.Our-Values-page .values-3 {
  text-align: center;
  width: 15%;
  height: 150px;
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 15px;
  text-align: center;
}

.Our-Values-page .values-1 h3,
.Our-Values-page .values-2 h3,
.Our-Values-page .values-3 h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.Our-Values-page .values-1 p,
.Our-Values-page .values-2 p,
.Our-Values-page .values-3 p {
  font-size: 14px;
  color: #878787;
  font-family: 'Serif', Georgia, serif;
}